name: Main workflow
on: [push]
jobs:
  test:
    name: Test ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - run: npm ci
      - run: npm run pre-push

  install-haskell:
    name: Test GHC Install ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
        ghc: ['8.8.3']
        cabal: ['3.0.0.0']
    steps:
      - uses: actions/checkout@v2

      - uses: actions/cache@v1
        if: matrix.os  != 'windows-latest'
        with:
          path: ~/.ghcup
          key: ${{ runner.os }}-${{ matrix.ghc }}-ghcup
      - uses: actions/cache@v1
        if: matrix.os  == 'windows-latest'
        with:
          path: C:\ProgramData\chocolatey\lib\cabal.${{ matrix.cabal }}
          key: ${{ runner.os }}-${{ matrix.ghc }}-choco-cabal
      - uses: actions/cache@v1
        if: matrix.os  == 'windows-latest'
        with:
          path: C:\ProgramData\chocolatey\lib\ghc.${{ matrix.ghc }}
          key: ${{ runner.os }}-${{ matrix.ghc }}-choco-ghc

      - uses: ./
        with:
          ghc-version: ${{ matrix.ghc }}
          cabal-version: ${{ matrix.cabal }}
      - run: runhaskell __tests__/hello.hs
